*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #f0bde1;
    text-align: center;
}


.menu_container{
    width: 100%;
    padding: 15px;
    background-color: rgb(243, 160, 215);

}
.nav_container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo{
    width: 3%;

}

.list_container{
    justify-content: space-between;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: flex-start;

}

.list_item{
    padding: 15px;
}

.list_item a {
    text-decoration:none;
    color:black;
}

.list_item a:hover{
    cursor: pointer;
    color: rgba(226, 64, 159, 0.733);
}

h1{
    color: #7d4e86;
}

p{color:#8C5B65;}

.sandwish_menu{ 
    padding: 15px;;
    cursor: pointer;
    display: none;
    color: #000000;
}
@media (max-width: 768px){
.list_container{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(100, 39, 73);
}

.list_container.active{
    display: flex;
}

.sandwish_menu{
    display: block;
}

.nav_container{
    flex-direction: column;
    align-items: flex-start;
}

.logo{
   width: 5%;



























}